*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(248,246,246);
}
h1{
    text-align: center;
    margin-top:20px ;
}
.box{
    display:-moz-grid-group
    -moz-grid-coloumn; border-image-repeat: (4,350px);
    -moz-grid-row;
    gap:30px;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;

}

div>img{
    height:70%;
    width:100%;
}
img+h3{
    font-size: 15px;
    margin-top:10px;
}
h3+p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
p+button{
    margin:20px 0px 20px 90px;
    padding:5px;
    color:white;
    background-color: teal;
}
